body{
margin:0;
background:#0d1117;
font-family:Arial;
color:white;
text-align:center;
}

.container{
padding:20px;
}

.camera-box{
position:relative;
display:inline-block;
}

video,canvas{
width:800px;
max-width:95%;
border-radius:15px;
}

canvas{
position:absolute;
left:0;
top:0;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
border-radius:8px;
background:#00c896;
color:white;
cursor:pointer;
margin-top:10px;
}

.bars{
width:700px;
max-width:95%;
margin:auto;
margin-top:20px;
}

.bar{
background:#222;
margin:8px 0;
padding:10px;
border-radius:8px;
text-align:left;
}

.fill{
height:10px;
background:#00ffcc;
border-radius:6px;
margin-top:5px;
}
